<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
<h2>Midterm Survey</h2>
<form>
    <label>Name</label>
    <input type="text">
    <br>
    <label>Check all that apply</label>
    <br>
    <label for="check">This midterm is easy</label>
    <input type="checkbox" id="check" name="check"><br>
    <label for="check1">I like midterms</label>
    <input id="check1" type="checkbox" name="check1"><br>
    <label for="check2">Today is Friday</label>
    <input type="checkbox" id="check2">
</form>
</body>
</html>